  
 
  

  <div class="container mx-auto p-6 bg-gray-100 rounded-lg shadow-lg overflow-y-auto ">
    <h2 class="text-2xl font-bold text-gray-700 mb-6">Travel List</h2>
    <strong>Total Consumption :</strong> {{ distanceKm }} L
    <strong>Quantity Co2 <span> {{quantityCo2Total }}</span></strong>

    @if(Km100Consumption > 7){
      <p class="text-red-600">Warning, your consumption is high</p>
    }
    @if(Km100Consumption < 4){
      <p class="text-green-700">Congratulations, your consumption is low</p>
    }

    <h2 class="text-2xl font-bold text-gray-700 mb-6">Travel List</h2>
    <button 
      class="mb-4 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition"
      (click)="addTravel({distanceKm : 1000, Km100Consumption : 5})">
      Add Travel
    </button>
    
   

    <div class="container mx-auto p-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  @for (travel of travels; track $index) {
   
      <div

        class="w-96 h-64 duration-500 group overflow-hidden relative rounded bg-neutral-800 text-neutral-50 p-4 flex flex-col justify-evenly"
      >

        <div
          class="absolute blur duration-500 group-hover:blur-none w-72 h-72 rounded-full group-hover:translate-x-12 group-hover:translate-y-12 bg-green-900 right-1 -bottom-24"
        ></div>
        <div
          class="absolute blur duration-500 group-hover:blur-none w-12 h-12 rounded-full group-hover:translate-x-12 group-hover:translate-y-2 bg-green-700 right-12 bottom-12"
        ></div>
        <div
          class="absolute blur duration-500 group-hover:blur-none w-36 h-36 rounded-full group-hover:translate-x-12 group-hover:-translate-y-12 bg-green-800 right-1 -top-12"
        ></div>
        <div
          class="absolute blur duration-500 group-hover:blur-none w-24 h-24 bg-green-700 rounded-full group-hover:-translate-x-12"
        ></div>
    
        <!-- Card Content -->
        <div class="z-10 flex flex-col justify-evenly w-full h-full">
          <span class="text-2xl font-bold">Voyage {{ travel.id | json}}</span>
          <p>
            <strong>Distance :</strong> {{ travel.distance }} km<br />
            <strong>Consumption :</strong> {{ travel.consommation }} L/100km<br />
            <strong>Co2 :</strong> {{ travel.co2 }}<br />
        
          </p>
         
        </div>
      </div>
    
  }
</div>
  </div>

