/* Main container for the info */
.info-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for the information paragraphs */
  .info-container p {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #333;
  }
  
  /* Bold title styling */
  strong {
    font-weight: bold;
    color: #4CAF50; /* Green for dynamic effect */
  }
  
  /* Styling for the distance */
  .distance p {
    color: #2196F3; /* Blue for distance */
  }
  

  .consumption p {
    font-size: 1.1rem;
  }
 
  .consumption p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .low-consumption{
    color: #4CAF50;
  }

  .high-consumption{
    color: red;
  }