/* Main container for the info */
.info-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  

  .info-container p {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
  strong {
    font-weight: bold;
    
  }
  
  
  .long-distance {
    font-weight: bold;
    color: green !important;
  }

  .short-distance {
    font-weight: bold;
    color: red !important;
  }


  .consumption p {
    font-size: 1.1rem;
  }
 
  .low-consumption{
    color: #4CAF50 !important;
  }

  .high-consumption {
    color: red !important;
  }
  
  