<app-carbon-footprint-form></app-carbon-footprint-form>
<app-carbon-footprint-result></app-carbon-footprint-result>


  
  @if(Km100Consumption > 7){
    <p>Warning, your consumption is high</p>
  }

  
  @if(Km100Consumption < 4){
    <p>Congratulations, your consumption is low</p>
  }

  @for (travel of travels; track $index) {

    <div class="info-container">

      <div class="distance">
        <p [ngClass]="{
          'long-distance': travel.distanceKm < 500,
          'short-distance': travel.distanceKm > 100
        }">
          <strong>Distance traveled:</strong> {{ travel.distanceKm }} km
        </p>
        <button (click)="add100KmToTheDistance()">+100Km</button>
      </div>
  
      <div class="consumption">
        <p [ngClass]="{ 
          'low-consumption': travel.Km100Consumption < 4, 
          'high-consumption':travel.Km100Consumption > 7
        }">
          <strong>Consumption per 100 km:</strong> 
          {{ travel.Km100Consumption }} L/100km
        </p>
      </div>
  
      <div class="totalconsumption">
          <p><strong>total:</strong> {{ calculateConsumption() }} </p>
        </div>
    </div>
  }