<nav class="navbar">
    <div class="navbar-container">

      <a href="/" class="navbar-logo">
        <img src="assets/carbon-footprint.png" alt="Logo" class="logo" />
        My App
      </a>

      <ul class="navbar-links">
        <li class="navbar-item"><a href="/">Home</a></li>
        <li class="navbar-item"><a href="/about">About</a></li>
      </ul>
    </div>

    <div class="navbar-user">
        <img src="assets/user1.png" alt="User Icon" class="user-icon" />
        <span class="username">{{username}}</span>
      </div>
    
</nav>

<h1 text-red-900 text-3xl> Welcome {{username}} </h1>
  